body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
    
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    
    padding: 20px 200px 20px 200px;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    list-style: outside none none;
    display: flex;
    gap: 20px;
    font-size: 15px;
    margin-left: auto;
    padding: 0px 100px 0px;
}

.header a {
    color: white;
    text-decoration: none;
}

.top {
    background-color: #1F2937;
    color: white;
    margin: -10px;
    padding: 20px 200px 20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top img {
    width: 350px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.top button {
    padding: 10px;
    background-color: #3882F6;
    margin: 0;
    border: none;
    border-radius: 7px;
}

.top button a {
    color: white;
    text-decoration: none;
}

.albumsec {
    padding: 20px 200px 20px 200px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.albumsec h1 {
    text-align: center;
}

.albums {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.albums img {
    height: 200px;
    width: 200px;
    border: 5px black solid;
}

.albuminfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 20px 200px 20px 200px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 30px;
}

.quote h3 {
    text-align: center;
}

.lyrics {
    text-align: center;
}

.bigbox {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    margin: 100px;
    padding: 20px 200px 20px 200px;
    gap: 160px;

}

.box-left {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.box-right {
    display: flex;
    align-items: center;
}

.box-right button {
    padding: 10px;
    background-color: #3882F6;
    margin: 0;
    border: white 2px solid;
    border-radius: 7px;
}

.box-right a {
    text-decoration: none;
    color: white;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    color: white;
    padding: 20px 200px 20px 200px;
}

/* body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.header-logo img {
    width: 84px;
    height: 84px;
    margin-right: auto;
}

.header-link {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;  
}

.header-link a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
}

.hero {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.hero-cta {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.hero-cta p {
    font-family: 'Roboto', arial;
    opacity: 0.7;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', arial;
}

.hero button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

.hero-image img {
    width: 500px;
    height: 350px;
}


.content {
    align-items: center;
}

.content-info {
    display: flex;
    border: 1px solid gold; 
    justify-content: center;
    flex-wrap: wrap;
}

.content-info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}


.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 200px;
}

.quote p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', arial;
}

.quote b {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
    text-align: right;
}

.sign-up {
    background-color: #3882F6 ;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

.sign-item {
    flex: 1;
}

.signs-text {
    text-align: left;
}

.signs-text p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

h3 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.signs-button button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
}

.footer {
    background-color: #1F2937;
    color: #fff;
    font-family: 'Roboto', arial;
} */